.footer {
  width: 100vw;
  font-size: 15px;
  color: $maincolor;
  grid-row: footer-s/footer-e;
  display: grid;
  grid-row-gap: 45px;
  &__line,
  &__bottom {
    margin-left: 120px;
    margin-right: 120px;
    @media screen and (max-width: 550px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__line {
    border-bottom: 2px solid $textcolor;
  }
  &__bottom {
    display: grid;
    grid-auto-flow: column;
    &__right-side {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      justify-self: end;
      span {
        margin-top: 3px;
        @media screen and (max-width: 600px) {
          color: transparent;
          font-size: 1px;
        }
      }
      a {
        font-size: 22px;
        color: $maincolor;
        &:hover {
          color: $textcolor;
        }
      }
    }
  }
}
