.plans-page {
  width: 100vw;
  background-color: $background;
  grid-row: content-s/content-e;
  display: grid;
  justify-items: center;
  grid-template-rows: 80px [title-s] 60px [title-e text-s] 160px [text-e group-s] 680px [group-e btn-s] 100px [btn-e] 80px;
  &__top {
    grid-row: title-s/text-e;
    text-align: center;
    &__title {
      grid-row: title-s/title-e;
      color: $maincolor;
      text-decoration: underline;
      font-size: 34px;
    }
    &__text {
      margin-top: 20px;
      grid-row: text-s/text-e;
      font-size: 15px;
      width: 1200px;
      @media screen and (max-width: 1200px) {
        width: 600px;
      }
    }
  }
  &__group {
    font-size: 20px;
    grid-row: group-s/group-e;
    justify-content: center;
    display: grid;
    &__plans-names {
      padding-top: 30px;
      height: 60px;
      color: white;
      background-color: $maincolor;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      margin-left: 241px;
      text-align: center;
      display: grid;
      grid-auto-flow: column;
      &__basic {
        margin-left: 100px;
      }
      &__high {
        margin-right: 20px;
      }
    }
    &__features {
      border: 2px solid $maincolor;
      border-radius: 6px;
      border-top-right-radius: 0px;
      background-color: white;
      height: 600px;
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 200px;
      line-height: 95px;
      i {
        color: $maincolor;
        font-size: 30px;
      }
      &__names {
        color: white;
        background-color: $maincolor;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
      }
      &__high {
        margin-right: 105px;
      }
    }
  }
  &__btn {
    grid-row: btn-s/btn-e;
    margin-top: 50px;
  }
}
