.plans {
  width: 100vw;
  display: grid;
  grid-template-rows: 80px [title-s] 175px [title-e group-s] 1fr [group-e btn-s] 60px [btn-e] 70px;
  &__header {
    grid-row: title-s/title-e;
    display: grid;

    &__title {
      text-align: center;
      font-size: 34px;
      line-height: 45px;
      color: $maincolor;
      @media screen and (max-width: 400px) {
        font-size: 26px;
      }
    }
    &__slogan {
      text-align: center;
      font-size: 26px;
      @media screen and (max-width: 400px) {
        font-size: 20px;
      }
    }
  }
  &__plan-group {
    grid-row: group-s/group-e;
    justify-content: center;
    grid-column-gap: 100px;
    display: grid;
    grid-auto-flow: column;
    @media screen and (max-width: 1300px) {
      grid-column-gap: 10px;
    }
    @media screen and (max-width: 1100px) {
      margin-top: 50px;
      grid-auto-flow: row;
    }
  }
  &__btn {
    justify-self: center;
    grid-row: btn-s/btn-e;
  }
}
