.plan {
  width: 350px;
  height: 500px;
  align-items: center;
  box-shadow: 0px 0px 30px 3px rgba(53, 180, 135, 0.75);
  border-radius: 4px;
  &__img {
    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  &__text {
    margin-top: -5px;
    padding-bottom: 50px;
    &__title {
      font-family: "Roboto Slab";
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &__description {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 15px;
    }
  }
}
